body{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-width: 960px;
    margin: 0 auto;
}
#content div{
    background: #3bbced;
    padding: 30px;
}
#content div:nth-child(even){
    background: #777;
}
